body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

#board {
  background-color: #222;
  border-top: 5px solid rgb(0, 255, 0);
  border-bottom: 5px solid rgb(0, 255, 0);
  width: 90%;
  max-width: 500px;
  aspect-ratio: 1;
}
#controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
  /* max-width: 500px; */
  margin-top: 10px;
}
.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-button {
  width: 70px;
  height: 70px;
  font-size: 36px;
  margin: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h3 {
  margin: 0;
  padding: 0;
}
.power-up {
  background-color: #ffd700;
  width: 15px;
  height: 15px;
  position: absolute;
}
